#Quando o pipeline será executado:
on:
    push:
        branches:
            - main #Rodar o pipeline apenas em commits na branch main.

#Definições dos job do pipeline:
jobs:
    #Job de build e Testes
    build-and-test:
        runs-on: ubuntu-latest #SO da máquina virtual onde o job será executado.
        steps:
            #Passo 1: fazer o checkout do código
            - name: Checkout code
              uses: actions/checkout@v3

            #Passo 2: Configurar o Node.js
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with: 
                node-version: '16' #Versão do Node.js

            #Passo 3: Instalar as dependências
            - name: Install dependencies
              run: npm install

            #Passo 4: Executar os testes
            - name: Run tests
              run: npm test
    
    #Job do deploy
    deploy:
        needs: build-and-test #Ele só vai fazer deploy se job build-and-test passar.
        runs-on: ubuntu-latest

        steps:
            #Passo1: fazer o checkout do código
            - name: Checkout code
              uses: actions/checkout@v3

            #Passo 2: Configurar o SSH para deploy
            - name: Setup SSH
              run: /
                echo ${{secrets.SSH_PRIVATE_KEY}}> ~/.ssh/id_rsa
                chmod 600~/.ssh/id_rsa
                ssh-keyscan -H your-server-ip >> ~/.ssh/known_hosts

            #Passo 3: Deploy no servidor
            - name: Deploy to server
              run: ssh user@your-server-ip "bash deploy_script.sh"




